@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    color: #323232;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/siro.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    font-weight: 700;
    font-size: 5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 1.7rem;
    border-radius: 1.6rem;
    cursor: pointer;
}